transformers==4.46.3
tokenizers==0.20.3
pillow
streamlit 
pytesseract
Pillow
sentencepiece
opencv-python
reportlab
ollama


# FastAPI server dependencies
fastapi
uvicorn[standard]
python-multipart
pydantic

# OCR, embeddings, vector DB, exports
pytesseract
easyocr
sentence-transformers
faiss-cpu
pandas
openpyxl
python-docx

pdf2image                       
